*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #E9EBEE;
    font-family: sans-serif;
}
.top{
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: row;
    

}

.below img{
    height: 50px;
}
.right{
    height: 50px;
    
    width: 500px;
    display: flex;
    align-items: center;
    margin-left: 650px;
}
.par{
    
    width: 200px;
    margin-left: -0px;
}    
.right input{
    margin: 5px;
    height: 35px;
    border-radius: 7px;
    border: 1px solid #b8bbbe;
    background-color: rgb(248, 248, 248);
    font-size: 14px;
    padding-left: 4px;
}
.right button{
    margin: 5px;
    height: 39px;
    width: 59px;
    border-radius: 7px;
    border: none;
    color: white;
    font-weight: 600;
    background-color: royalblue;

    font-size: 14px;
    padding-left: 2px 0px;
}
.par p{
    color: blue;
    
}
.box{

    margin-left: 35%;
    margin-top: 100px;
    background-color: rgb(247, 244, 241);
    height: 280px;
    width: 470px;
    border-radius: 7px;
    box-shadow: 0px 3px 4px 0px;
    
}
.box h2{
   
    padding: 17px 18px;
    font-size: 20px;
    font-weight: bold;
    width: 180px;
    margin-left: 1px;
         
}
.pr p{
    padding:15px 18px;

}
.form{
    
    padding:12px 10px;
}
.form input{
    padding:15px 18px;
    width: 410px;
    border: 1px solid  #b8bbbe;
    border-radius: 6px;
    font-size: 15px;
}
.foot{
    padding:15px ;
    
    width: 600px;
    margin-left: 240px;
    
}
.foot button{
    /* margin-left: 100px; */
    height: 38px;
    width: 95px;
    font-size: 16px;
    font-weight: 600;
    
}
#btn{
   background-color: rgb(209, 203, 203);
   border:none;
   border-radius: 6px;
   color: rgb(51, 49, 49);
}
#btn1{
    background-color: royalblue;
    border-radius: 6px;
    border: none;
    color:white;
}